img {
  display: block;
}

.visually-hidden {
  position: absolute;
  white-space: nowrap;
  width: 1px;
  height: 1px;
  overflow: hidden;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  clip-path: inset(50%);
  margin: -1px;
}

.gallery {
  display: flex;
  justify-content: center;
  align-items: center;

  width: 100%;
  padding: 60px 0;
  background-image: linear-gradient(to bottom, #fff5f6 25%, #ffffff 25%, #ffffff 75%);
}

.grid__wrap {
  display: flex;
  align-items: center;
  gap: 8px;
}

.grid__single {
  height: 100%;
}

.grid--bottom {
  margin-bottom: 8px;
}

.grid__distance--bottom {
  padding-bottom: 45px;
}

.grid__distance--top {
  padding-top: 65px;
}
