img {
  display: block;
}

.section {
  display: flex;
  justify-content: center;
  align-items: center;

  width: 100%;
  padding: 60px 0;
  background-image: linear-gradient(to bottom, #fff5f6 27%, #ffffff 27%, #ffffff 73%);
  border: 1px solid red;
}

.grid-2 {
  height: 100%;
  gap: 8px;
}

.grid-4 {
  padding-bottom: 45px;
}

.grid-5 {
  padding-top: 65px;
}

.grid__item--bottom {
  margin-bottom: 8px;
}

.grid__item--big {
  height: 100%;
}

.grid__wrap {
  display: flex;
  align-items: center;
  grid-template-columns: 138px 138px 283px 138px 138px 138px;
  grid-template-rows: auto;
  gap: 8px 8px;
  margin: 0 auto;
}

/* .gallery__img {
  gap: 8px;
} */
